@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --clr-dark-gb: hsl(210, 10%, 33%);
    --clr-gb: hsl(201, 11%, 66%);
    --clr-cyan: hsl(171, 66%, 44%);
    --clr-lb: hsl(233, 100%, 69%);
}

body {
    min-height: 100vh;
}

main,
.hero {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6em;
    background: url('./images/bg-header-desktop.png') no-repeat;
    background-size: contain;
}

.hero>img {
    width: 128px;
}

.hero h1 {
    font-size: 3em;
    color: var(--clr-dark-gb);
}

.hero h3 {
    font-size: 1.4em;
    color: var(--clr-gb);
    font-weight: 400;
    max-width: 55ch;
}

.hero .title {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

.button-wrapper button {
    all: unset;
    padding: 1.1em 3.25em;
    border-radius: 100px;
    color: white;
    font-weight: 600;
}

.button-wrapper button:first-child {
    background: var(--clr-cyan);
    border-bottom: 3px solid hsl(171, 66%, 28%);
}

.button-wrapper button:last-child {
    background: var(--clr-lb);
    border-bottom: 3px solid hsl(233, 46%, 46%);
}